@import './media_queries.scss';

*{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
}



main {

    .titles {
        font-size: 2.3rem;
        font-weight: bolder;
        margin-bottom: 8px;
    }

    .txt-1{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .txt-2{
        font-size: 1.4rem;
        font-weight: 300;
    }

    .txt-3{
        font-weight: bold;
        font-size: 1.4rem;
    }

    .icons{
        width: 32px;
        height: 32px;

        svg{
            width: 100%;
            height: 100%;
        }
    }

    .header{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        padding: 32px;
        background-color: #2d92d6;

        .tittle{
            display: flex;
            flex-direction: column;
            gap: 4px;

            h1{
                text-align: center;
                font-size: 3rem;
                color: white;
            }
        }

        .line{
            display: none;
        }

        picture{
            border-radius: 50%;
            overflow: hidden;
        }
    }

    .lateral{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 24px;
        background-color: #abcce2;

        .contact{
            margin-top: 24px;

            ul {
                width: 100%;
                display: flex;
                flex-direction: column;
                list-style: none;
                gap: 8px;
                padding: 12px;
    
                li {
                    display: grid;
                    grid-template-columns: 24px auto;
                    align-items: center;
                    justify-content: flex-start;
                    width: 100%;
                    height: auto;
                    gap: 8px;
    
                    span {
                        width: 100%;
    
                        svg {
                            width: 100%;
                            height: 100%;
                        }
    
                        img {
                            width: 100%;
                            background-position: center;
                        }
    
                    }
    
                    h4 {
                        font-size: 1.3rem;
                        text-align: start;
                        height: auto;
                        word-wrap: break-word;
                    }
                }
            }
        }

        .skills{
            display: flex;
            flex-direction: column;
            gap: 12px;

            ul{
                display: flex;
                flex-direction: column;
                list-style: none;
                padding: 12px;
                gap: 12px;

                li{
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    span{
                        display: flex;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        background-color: #86839b70;
                        border-radius: 50%;
                        padding: 4px;
                        overflow: hidden;

                        img{
                            width: 100%;
                            background-size: contain;
                            border-radius: 50%;
                        }
                    }

                    h4{
                        font-size: 1.6rem;
                        font-weight: 400;
                    }

                }
            }
        }
    }

    .content{
        width: 100%;
        grid-area: content;
        display: flex;
        flex-direction: column;
        padding: 32px;
        background-color: #ddecf7;
        border-radius: 0 0 8px 0;

        .history{
            margin-top: 40px;
        }

        .works, .formation, .cursos{
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 0 16px;

            article{
                display: flex;
                flex-direction: column;
                margin-top: 12px;
                span{
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }

                ul{
                    display: flex;
                    flex-direction: column;
                    padding:  0 24px;
                    margin-top: 12px;
                    gap: 4px;
    
                    li{
                        list-style: disc;
                    }
                }
            }

        }
    }

}

main {
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "head"
    "content"
    "skills";

    @include querie-s{
        display: grid;
        grid-template-columns: 35% auto auto;
        grid-template-rows: 20% auto auto;
        grid-template-areas:
          "head head head"
          "lateral content content"
          "lateral content content";
        padding: 14px;

        .header{
            grid-area: head;
            flex-direction: row;
            border-radius: 8px 8px 0 0;
    
            .tittle h1{
                text-align: start;
                padding-right: 40px;
            }
    
            .line{
                position: absolute;
                display: flex;
                z-index: 10;
                left: 0;
                bottom: 12px;
                width: 100%;
                height: 6px;
                background-color: white;
            }
    
            picture{
                position: absolute;
                width: 25%;
                height: 130%;
                z-index: 20;
                bottom: -65%;
                left: 5%;
                background-color: black;
                border-radius: 4px;
                overflow: hidden;
    
                img{
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    
        .lateral{
            grid-area: lateral;
            border-radius: 0 0 0 8px;
    
            .contact {
                margin-top: 140px;
            }
    
        }
    }

}